<h1>Admin Panel</h1>

<table class="table">
    <tr>
        <td>
            <a asp-area="UyePanel" asp-controller="Makale" asp-action="Index">Makale Islemleri</a>
            <a asp-area="AdminPanel" asp-controller="Konu" asp-action="Index">Konu Islemleri</a>
        </td>
    </tr>
</table>